<!-- Header section -->
<header>
  <nav>
    <%= link_to "Home", "/" %>
    <%= link_to "Portfolio", "/"%>
    <%= link_to  "Contact", "mailto:david@hiddengeniusproject.org"%>
    <%= link_to "Github",'https://github.com/davidjr2417/oh_rich3'  %>
  </nav>
</header>
<!-- End header -->
<!-- Main Section -->
<main class="main-section">
  <!-- Intro Info (First) Section In Main -->
  <section class="intro-info-section">
    <div id="top_container">
      <a href="mailto:jen.dewalt@gmail.com">
        <%= image_tag "black_power.png", :alt => "rss feed", :id =>"logo" %>
      </a>
      <h1>Hello Everyone!</h1>

      <div id="info_container">
        <div>My name is David Malone and I am making
        </div>
        <div class="orange">Rich-3 OH Projects.</div>
        <div>You can follow the project here and on the
          <span>
            <a href="#">blog</a>
          </span>.</div>
      </div>

    </div>
  </section>
  <!-- End Intro Info (First) Section In Main -->

  <!-- Today's Project Section (Second) Section In Main -->
  <section class="todays-project-section">
    <div id="marquee_container">
      <div>Today's Website</div>
      <%= link_to 'Guess A Number', "guess" %>

    </div>
  </section>
  <!-- End Today's Project Section (Second) Section In Main -->

  <!-- Office Hours Projects (Third) Section -->
  <section class="office-hours-section">
    <div id="website_list_container">
      <div>OH 3:
        <span>
          <!-- <%# <%= link_to 'Make A Deal', deals_pg1_path %> %>-->
          <%= link_to 'Pick A Genius', "pick_genius" %>
          <!-- <a href="make_a_deal.html">Make a Deal!</a> -->
        </span>
      </div>
      <div>OH 2:
        <span>
          <!-- <%# <%= link_to 'Make A Deal', deals_pg1_path %> %>-->
          <%= link_to 'Guess A Number', "guess" %>
          <!-- <a href="make_a_deal.html">Make a Deal!</a> -->
        </span>
      </div>
      <div>OH 1:
        <span>
          <a href="#">Homepage</a>
        </span>
      </div>
    </div>
  </section>
</main>
<!-- End Of Main Section -->
<!-- Footer Section -->
<footer class="social-footer">
  <section id="lab_social_icon_footer">
    <!-- Include Font Awesome Stylesheet in Header -->
    <div class="container">
      <div class="text-center center-block">
        <%= link_to 'https://www.facebook.com', :class =>"social-logo" do %>
          <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
        <% end %>
        <%= link_to 'https://twitter.com', :class =>"social-logo" do %>
          <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
        <% end %>
        <%= link_to 'https://plus.google.com/', :class =>"social-logo" do %>
          <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
        <% end %>
        <%= link_to 'mailto:#', :class =>"social-logo" do %>
          <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
        <% end %>
      </div>
    </div>
  </section>
</footer>
<!-- End Footer Section -->
<script type="text/javascript">
  window.onload = init();
</script>
